<div class="container">
  <div class="row mt-5">
    <form action="/records/{{record._id}}?_method=PUT" method="POST">
      <!--名稱 name-->
      <div class="input-group mb-3">
        <label for="inputName" class="col-sm-2 col-form-label">名稱</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" name="name" placeholder="品項名稱" value="{{record.name}}">
        </div>
      </div>
      <!--日期 date-->
      <div class="input-group mb-3">
        <label for="inputDate" class="col-sm-2 col-form-label">日期</label>
        <input type="date" class="form-control" id="inputDate" name="date" placeholder="年/月/日" value="{{record.date}}">
      </div>
      <!--類別 category-->
      <div class=" input-group mb-3">
        <label for="selectCategory" class="col-sm-2 col-form-label">類別</label>
        <select class="form-select" id="selectCategory" name="category" required>
          <option value="living" {{#ifEqual record.category_cn "居家物業" }} selected {{/ifEqual}}>居家物業</option>
          <option value="traffic" {{#ifEqual record.category_cn "交通出行" }} selected {{/ifEqual}}>交通出行</option>
          <option value="entertainment" {{#ifEqual record.category_cn "休閒娛樂" }} selected {{/ifEqual}}>休閒娛樂</option>
          <option value="foods" {{#ifEqual record.category_cn "餐飲食品" }} selected {{/ifEqual}}>餐飲食品</option>
          <option value="other" {{#ifEqual record.category_cn "其他" }} selected {{/ifEqual}}>其他</option>
        </select>
      </div>

      <!--店家 merchant-->
      <div class="input-group mb-3">
        <label for="inputMerchant" class="col-sm-2 col-form-label">店家</label>
        <input type="text" class="form-control" id="inputMerchant" name="merchent" placeholder="店家" value="">
      </div>

      <!--金額 amount-->
      <div class="input-group mb-3">
        <label for="inputAmount" class="col-sm-2 col-form-label">金額</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputAmount" name="amount" value="{{record.amount}}">
        </div>
      </div>
      <!--按鈕-->
      <div class="d-flex justify-content-between">
        <button class="btn btn-dark" type="submit">儲存</button>
        <button class="btn btn-secondary" type="button">
          <a href="/" style="text-decoration:none;">
            <p style="color: rgb(255, 255, 255); display:inline;">返回</p>
          </a>
        </button>
      </div>
    </form>
  </div>
</div>